# ===============================
#     Authzen Project Config
# ===============================

# Application Info
SPRING_APPLICATION_NAME=authzen

# MySQL Database Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/authzen?createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=your_mysql_username
SPRING_DATASOURCE_PASSWORD=your_mysql_password

# Server Port
SERVER_PORT=8080
